@media only screen and (min-width: 1024px) {
    section {
        width: 100%;
        margin-top: 10vh;
    }

    #nav-trigger {
        display: none;
    }

    .nav_items {
        display: inline;
        right: 10px;
        top: 0px;
        z-index: 11;
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 16px;
        background-color: none;
    }

    .nav_items span{
        display: inline;
        margin-right: 50px;
    }

    .header-section .slogan {
        font-size: 1.5em;
    }

    .gallery-section .images-container img{
        width: 70%;
        margin-left: 15%;
    }

    .skills-subsections {
        text-align: center;
        max-width: 15vw;
        margin-left: 0;
    }

    .project-card img {
        width: 40%;
    }

    .project-card{
        display: flex;
        justify-content: center;
        text-align: left;
    }
    
    .portfolio-section{
        text-align: center;
    }

    .project-card > div {
        margin-left: 5%;
        max-width: 30vw;
    }

    .project-card > div > div {
        display: inline-block;
    }

    .project-card p {
        width: 80%;
        margin-left: 0;
    }

    .project-card .project-tags {
        display: block;
        width: auto;
        margin-left: 0;
    }

    hr {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    section > a > button {
        margin-top: 10vh;
    }
    
    .about-section-long p, .about-section-short ul {
        margin-top: 5vh;
        width: 50%;
        margin-left: 25%;
    }

    .contact-section h1 {
        margin-bottom: 10vh;
    }

    .contact-section .flex-container {
        justify-content: center;
    }

    .credit-section {
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .project-card .project-tags {
        margin-bottom: 5vh;
    }

}