html, body {
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: Merriweather;
    margin-top: 60px;
}

button {
    cursor: pointer;
}

.active {
    color: rgb(199, 199, 0);
}

nav {
    width: 100%;
    padding: 0;
    height: 60px;
    background-color:rgb(117, 0, 117);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.486);
    color:white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#nav-trigger {
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

#nav-trigger div {
    height: 5px;
    width: 35px;
    margin-top: 5px;
    background-color: white;
}

nav #title {
    position: fixed;
    top: 12px;
    left: 30px;
    font-size: 1.5em;
}

.nav_items span{
    text-align: center;
    display: block;
    font-size: 1.1em;
    padding-top:10px;
    padding-bottom:10px;
    
}

.nav_items span a {
    transition: 0.3s;
}

.nav_items span a:hover {
    color: yellow;
}

.nav_items {
    color: white;
    padding: 0;
    margin: 0;
    z-index: 1;
    width: 100%;
    position: fixed;
    background-color:rgb(117, 0, 117);
    padding-top: 5vh;
    padding-bottom: 5vh;
    top:-50vh;
    transition: 0.3s;
}

.gallery-section {
    padding: 0;
    margin: 0;
    margin-bottom: 10vh;
}

.gallery-section .images-container {
    display: flex;
    flex-wrap: nowrap;
    transition: 0.3s;
}

.gallery-section .images-container img{
    width: 100%;
}

.img_show {
    animation-name: show_img;
    animation-duration: 1s;
}

.img_hide {
    animation-name: hide_img;
    animation-duration: 1s;
}

.gallery-section  #image_gallery_controller  {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    height: 5vh;
    flex-wrap: wrap;
}

.gallery-section  #image_gallery_controller div {
    margin-top:5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: inline;
    background-color: rgb(197, 197, 197);
    margin-left: 10px;
    transition: 0.3s;
}

.header-section .slogan {
    text-align: center;
    font-size: 1.2em;
    font-weight: 900;
    margin-top: 10vh;
}

a, a:visited, a:hover, a:active {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

section {
    margin: 0;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

section a,
section a:visited, 
section a:hover, 
section a:active {
    color: rgb(117, 0, 117);
}

section > a > button {
    background-color: rgb(117, 0, 117);
    font-size: 1.2em;
    padding: 15px;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
}

section > a > button:hover {
    background-color: rgb(94, 0, 94);
}

section > a > button,
section > a:visited > button,
section > a:hover > button,
section > a:active > button {
    color: white;
}

hr {
    margin: 0;
    padding: 0;
    border-color: #d6d6d6;
    border-top: 1px solid rgba(0,0,0,.1);
    width:70%;
    margin-left: 15%;
}

.section-seperator {
    width:90%;
    margin-left: 5%;
    margin-bottom: -10vh; /* For making up for banner height */
}

section h1 {
    margin-top: none;
    padding-top: 100px;
}

section h1, section img {
    text-align: center;
    font-size: 2em ;
    color: rgb(71, 71, 71);
}

.skills-section .flex-container, .portfolio-section .flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-section .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skills-subsections {
    margin-left: 5%;
    text-align: center;
    width: 90%;
}

.skills-subsections h2 {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.skills-subsections i{
    font-size: 3em;
    margin:10px;
}

.skills-subsections img{
    margin:10px;
}

.icon-flex-container {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5vh;
    width: 90%;
    margin-left:5%;
}

.skills-section hr {
    margin-left: 15%;
    width: 70%;
}

.portfolio-section {
    text-align: center;
}

.project-card {
    width: 90%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 5vw;
    text-align: center;
}

.project-card button {
    padding:10px;
    font-size: 1.2em;
    font-family: Merriweather;
    color: rgb(117, 0, 117);
    border: 1px solid rgb(117, 0, 117);
    border-radius: 20px;
    box-shadow: 0px 3px 3px grey;
}

.project-card button:first-child {
    margin-right: 10px;
}

.project-card > div > div {
    display: flex;
    align-content: center;
    justify-content: center;
}

.project-card > div > div > a > button {
    transition: 0.3s;
}

.project-card > div > div > a > button:hover {
    background-color: rgb(117, 0, 117);
    color: white;
}

.project-card p {
    color: rgb(94, 94, 94);
}

.project-card img {
    width: 90%;
    border-radius: 5px;
    box-shadow: 1px 3px 5px rgb(73, 73, 73);
}

.project-card .project-tags {
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2vh;
    color: rgb(117, 0, 117);;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.7em;
}

.project-card .project-tags span{
    padding: 5px;
    margin-right: 5px;
    border: 1px solid rgb(117, 0, 117);;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(226, 226, 226);
}

.about-section-long p, .about-section-short ul {
    color: rgb(37, 37, 37);
    width:80%;
    margin-left: 5%;
    line-height: 1.5em;
    letter-spacing: .05em;
}

.about-section-long p {
    margin-left: 10%;
}

.about-section-short ul li {
    margin-top: 5px;
}

.contact-section i{
    font-size: 3em;
    margin:10px;
    margin-top:10px;
}

.credit-section {
    color: rgb(165, 165, 165);
    text-align: justify;
    font-size: 0.9em;
    width: 90%;
    margin:5%;
}