@media only screen and (min-width: 1180px) {
    section {
        width: 100%;
        margin-top: 10vh;
    }

    .header-section .slogan {
        font-size: 1.5em;
    }

    .gallery-section .images-container img{
        width: 70%;
        margin-left: 15%;
    }

    .skills-subsections {
        text-align: center;
        max-width: 15vw;
        margin-left: 0;
    }

    .project-card img {
        width: 40%;
    }

    .project-card{
        display: flex;
        justify-content: center;
        text-align: left;
    }
    
    .portfolio-section{
        text-align: center;
    }

    .project-card > div {
        margin-left: 5%;
        max-width: 30vw;
    }

    .project-card > div > div {
        display: inline-block;
    }

    .project-card p {
        width: 80%;
        margin-left: 0;
    }

    .project-card .project-tags {
        display: block;
        width: auto;
        margin-left: 0;
    }

    hr {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    section > a > button {
        margin-top: 10vh;
    }

}