{{ define "main" }}
	<main class="main-content">
		<article>
			<div class="title-container">
				<h1 class="post-title-underlined">{{ .Title }}</h1>
				<p class="h1_label">Posted on {{ .Date | dateFormat "Jan 2, 2006" }}</p>
				{{ if .Params.modifiedDate }}
					<p class="h1_label">Modified on: {{ .Params.modifiedDate }}</p>
				{{ end }}
			</div>
			<!-- 
				Add section to display 
				- project source code link
				- demo site link
				- video link
				- 
			-->

			<div class="post-content">
				{{ .Content }}
			</div>
			<nav class="pagination">
				{{ with .NextInSection }}
				<a href="{{ .RelPermalink }}" class="newer-pagination">Newer</a>
				{{ end }}

				<a href="/projects/" >Index</a>

				{{ with .PrevInSection }}
				<a href="{{ .RelPermalink }}" class="older-pagination">Older</a>
				{{ end }}
			</nav>
		</article>
	</main>
{{ end }}