@media only screen and (min-width: 1024px) {
    .main-content,
    .list-content {
        width: 50%;
        max-width: 750px;
    }

    #site-title {
        align-self: flex-start;
    }
    
        /* .h1_label {
        color: #AAAAAA;
        align-self: flex-start;
        text-align: left;
    } */

    .title-container {
        text-align: left;
        margin-bottom: clamp(50px, 5%, 100px);
    }
}