/* General Styling */
body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: firacode, sans-serif;
}

/* Typography */
h1, h2, h3, h4 {
    font-family: firacode-bold;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #00ADB5;
    transition: border-bottom 0.3s;
    border-bottom: 1px solid transparent;
}

a:hover {
    border-bottom: 1px solid #00ADB5;
}

p {
    margin-top: 20px;
}

/* Titles */
#site-title,
.footer-nav {
    align-self: center;
    text-align: center;
}

.post-date-container {
    margin-bottom: 5vh;
}

.post-date-label {
    line-height: 0;
    font-size: 14px;
}

.h1_label,
.post-date-label {
    color: #AAAAAA;
}

/* Content */
.main-content {
    font-family: Verdana, sans-serif;
    line-height: 2.0;
}

.list-content {
    line-height: 1.8;
}

.post-content {
    font-size: 18px;
    line-height: 1.5;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4 {
    font-family: Verdana, sans-serif;
    margin-top: 50px;
}

.post-title-underlined {
    border-bottom: 2px solid #EEEEEE;
    margin: auto;
    display: inline-block;
}

/* Layout */
#content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 10%;
    margin-top: clamp(50px, 10%, 100px);
    margin-bottom: 0;
}

.title-container {
    text-align: center;
    margin-bottom: clamp(50px, 10%, 100px);
}

.toc hr {
    margin: 5vh 0;
}

/* Blog and Project Listings */
.blog-listing-title,
.project-listing-title,
.general-listing-title {
    font-size: 1.2em;
    margin: 5px;
}

.blog-listing-title:before,
.project-listing-title:before, 
.general-listing-title:before {
    font-size: 1.3em;
    margin-right: 10px;
}

.blog-listing-title:before {
    content: "\221F";
}

.project-listing-title:before {
    content: "\2692";
}

.general-listing-title:before {
    content: "\2014";
}

/* Navigation Bar */
.navbar {
    font-family: firacode-bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

.navbar .right-items a {
    font-family: firacode-medium;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
}

.navbar .right-items a:hover {
    border-bottom: 1px solid #EEEEEE;
}

.left-items {
    margin-right: 20px;
}

.right-items {
    display: flex;
    gap: 10px;
}

/* Miscellaneous */
.pagination {
    margin: 10vh 0 5vh;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.pagination a {
    font-weight: bold;
    font-family: firacode-medium;
}

.social-media {
    margin: 5vh 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.thumbnail {
    display: block;
    margin: 0 auto;
}

/* Specific Elements */
.header-big-text {
    font-size: 1.2em;
    font-weight: bold;
}

.tags {
    margin-top: 10vh;
}

.footer-nav {
    margin-top: 10vh;
}