@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}   

body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: firacode;
}

#site-title {
    align-self: center;
}

.h1_label {
    color: #AAAAAA;
    align-self: center;
    text-align: center;
}

h1,h2,h3,h4 {
    font-family: firacode-bold;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #00ADB5;
    transition: 0.3s;
    border-bottom: 1px solid transparent;

}

a:hover {
    border-bottom: 1px solid #00ADB5;
}

.blog-listing-title {
    font-size: 1.2em;
    margin: 5px;
}

.main-content {
    font-family: Verdana, sans-serif;
    line-height: 2.0;
}

.title-container {
    text-align: center;
    margin-bottom: clamp(50px, 10%, 100px);
}

.post-content {
    font-size: 14px;
    line-height: 2.0;
}

.post-content p{
    margin-top: 20px;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4 {
    font-family: Verdana, sans-serif;
    text-decoration: none;
    margin-top: 50px;
}

.post-title-underlined {
    border-bottom: 2px solid #EEEEEE;
    margin: auto;
    display: inline-block;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 10%;
    margin-top: clamp(50px, 10%, 100px);
}

.header-big-text {
    font-size: 1.2em;
    font-weight: bold;
}

#h1_title {
    font-family: firacode-bold;
    font-size: 2rem;
}

.navbar {
    font-family: firacode-bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Space between the left and right sides */
    align-items: center; /* Vertically align items if necessary */
}

.navbar a {
    text-decoration: none;
    color: inherit;
    padding: 5px;
} 

.navbar .right-items a {
    font-family: firacode-medium;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}

.navbar .right-items a:hover {
    border-bottom: 1px solid #EEEEEE;
}

.left-items {
    margin-right: 20px; /* Add space between left and right */
}

.right-items {
    display: flex;
    gap: 10px; /* Add spacing between the right items */
}