@media only screen and (min-width: 500px) {
    .navbar {
        justify-content: center;
    }

    .navbar a {
        padding: 10px;
    }

    .main-content {
        margin-left: auto;
        margin-right: auto;
    }
}