{{ define "main" }}
	<main class="list-content">
		<h2>Blog Posts</h2>

		{{ $paginator := .Paginate (where .Pages "Type" "blog") }}

		<div class="blog-list">
			{{ range $paginator.Pages }}
			<div class="blog-listing-title">
				<a href="{{ .Permalink }}">{{ .Title }}</a>
			</div>
			{{ end }}
		</div>

		<!-- Pagination Controls -->
		<nav class="pagination">
			{{ if $paginator.HasPrev }}
			<a href="{{ $paginator.Prev.URL }}" class="newer-pagination">Newer</a>
			{{ end }}

			{{ if $paginator.HasNext }}
			<a href="{{ $paginator.Next.URL }}" class="older-pagination">Older</a>
			{{ end }}
		</nav>
	</main>
{{ end }}