<!DOCTYPE html>
<html>
    <head>
    {{- partial "head.html" . -}}
    <title>
        {{ if eq .Params.custom_title_enabled true }}
            {{ .Params.custom_title_value }}  &ndash; {{ .Site.Title }}
        {{ else }}
            {{ .Title }} &ndash; {{ .Site.Title }}
        {{ end }}
    </title>
    </head>
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
