{{ if eq .Params.writeupLink true }}
<details>
    <summary>Links</summary>
    <ul class="project-links">
        {{ with .Params.youtube }}
            <li class="youtube-link">
                <a href="https://www.youtube.com/watch?v={{ . }}" target="_blank" rel="noopener noreferrer">
                    Walkthrough Video
                </a>
            </li>
        {{ end }}

        {{ with .Params.CTFLink }}
            <li class="ctf-link">
                <a href="{{ . }}" target="_blank" rel="noopener noreferrer">
                    CTFLink
                </a>
            </li>
        {{ end }}
    </ul>
</details>
{{ end }}